@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
#div1 {
}
#top {
}
#navMain {
}
#menuSystem {
}
.menuItem {
	width: 100%;
	margin-left: 0;
	clear: both;
	background-color: #44c1b5;
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	border-radius: 5px;
}
#top img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.Quienessomos {
}
.quienessomos {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.Ventajastext {
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	word-spacing: 0px;
}
#navMain ul img {
	margin-top: 0px;
	padding-top: 15px;
}
#footerMain {
}
#footer {
	background-color: #44c1b5;
	margin-top: 25px;
	padding-top: 15px;
}
.icons {
	margin-left: 5.2631%;
	clear: none;
	width: 21.0526%;
	margin-top: -38px;
	padding-top: 6px;
	text-align: center;
}
#divfooter {
}
#mail {
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
}
ul .fluid.menuItem a {
	color: #FFFFFF;
}
ul .fluid.icons.zeroMargin_desktop.zeroMargin_mobile.zeroMargin_tablet img {
}

#ventajas {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #44c1b5;
}
#navMain ul #quienessomostxt {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
}



.termscontent {
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: small;
}
#line1 {
}
#button {
	text-align: center;
	color: #44c1b5;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
ul .fluid.menuItem.zeroMargin_desktop a {
	text-decoration: none;
}
ul .fluid.menuItem a {
	text-decoration: none;
}
.paqueteitems {
	width: 100%;
	margin-left: 0;
	clear: both;
	margin-right: 8px;
	border-radius: 5px;
}
.gridContainer.clearfix {
}
#Paquete1 {
	color: #000000;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: x-large;
}
#Tequila {
	text-align: center;
	color: #44c1b5;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#centenarioazul {
}
#josecuervoespecial {
}
#centenarioplata {
}
#centenarioreposado {
}
#ron {
	color: #44c1b5;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
}
#matusalemplatino {
}
#bacardiblanco {
}
#appletonwhite {
}
#appletonspecial {
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}





/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
#top {
}
#navMain {
}
#menuSystem {
}
.menuItem {
width: 100%;
clear: both;
margin-left: 0;
}
.Quienessomos {
}
.quienessomos {
}
#ventajastext {
}
.Ventajastext {
}
#footerMain {
}
#footer {
}
.icons {
clear: none;
margin-left: 2.5641%;
width: 23.0769%;
}
#divfooter {
}
#mail {
}
.termscontent {
}
#line1 {
}
#button {
}
#paquete1 {
}
.paquetes {
width: 100%;
clear: both;
margin-left: 0;
}
.paqueteitems {
width: 100%;
clear: both;
margin-left: 0;
}
#Tequilas {
}
#Tequila {
}
#alcohol {
}
#tequila {
}
.tequilas {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
}
#Paquete1 {
}
#centenarioazul {
}
#josecuervoespecial {
}
#centenarioplata {
}
#centenarioreposado {
}
#ron {
}
#matusalemplatino {
}
#bacardiblanco {
}
#appletonwhite {
}
#appletonspecial {
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
#top {
}
#navMain {
}
#menuSystem {
}
.menuItem {
width: 23.7288%;
clear: none;
margin-left: 1.6949%;
}
.Quienessomos {
}
.quienessomos {
}
#ventajastext {
}
.Ventajastext {
}
#footer {
}
.icons {
	clear: none;
	width: 4.729%;
	text-align: right;
	margin-left: -1px;
	padding-left: 13px;
}
#divfooter {
}
#mail {
}
.termscontent {
}
#line1 {
}
#button {
}
#paquete1 {
}
.paquetes {
width: 100%;
clear: none;
margin-left: 1.6949%;
}
.paqueteitems {
width: 32.2033%;
clear: none;
margin-left: 1.6949%;
}
#Tequilas {
}
#Tequila {
}
#alcohol {
}
#tequila {
}
.tequilas {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
}
#Paquete1 {
}
#centenarioazul {
}
#josecuervoespecial {
}
#centenarioplata {
}
#centenarioreposado {
}
#ron {
}
#matusalemplatino {
}
#bacardiblanco {
}
#appletonwhite {
}
#appletonspecial {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}
#quienessomos {
	color: #44c1b5;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
}
#terminosycondiciones {
	color: #44c1b5;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
}
#centenarioazul {
}
#josecuervoespecial {
}
